In [3]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame({'key1': ['a','b','b','a','c'],
                 'key2':['one','two','one','two','three'],
                 'data1': np.random.randn(5),
                 'data2': np.random.randn(5)})

In [6]:
df

      data1     data2 key1   key2
0  1.086939 -1.319361    a    one
1 -0.569596  0.066319    b    two
2  0.692115  0.218547    b    one
3 -0.065461 -0.950786    a    two
4 -0.094006  1.379208    c  three

In [36]:
grouped=df['data1'].groupby(df['key1'])#access data1 and groupby key1
grouped1=df.groupby('key1')['data1']

In [8]:
grouped

In [9]:
grouped.mean()

key1
a    0.510739
b    0.061260
c   -0.094006
Name: data1, dtype: float64

In [14]:
means=df['data1'].groupby([df['key1'],df['key2']]).mean()#pass mulitple arrays as a list for groupby

In [16]:
means.unstack()

key2       one     three       two
key1
a     1.086939       NaN -0.065461
b     0.692115       NaN -0.569596
c          NaN -0.094006       NaN

In [18]:
df.groupby(['key1','key2']).mean()

               data1     data2
key1 key2
a    one    1.086939 -1.319361
     two   -0.065461 -0.950786
b    one    0.692115  0.218547
     two   -0.569596  0.066319
c    three -0.094006  1.379208

In [20]:
df.groupby(['key1','key2']).size() #get counts for each scenarios, like proc freq

key1  key2
a     one      1
      two      1
b     one      1
      two      1
c     three    1
dtype: int64

In [24]:
for n, g in df.groupby('key1'):
    print n
    print g

a
      data1     data2 key1 key2
0  1.086939 -1.319361    a  one
3 -0.065461 -0.950786    a  two
b
      data1     data2 key1 key2
1 -0.569596  0.066319    b  two
2  0.692115  0.218547    b  one
c
      data1     data2 key1   key2
4 -0.094006  1.379208    c  three

In [22]:
for (m1,m2),group in df.groupby(['key1','key2']):
    print m1,m2
    print group

a one
      data1     data2 key1 key2
0  1.086939 -1.319361    a  one
a two
      data1     data2 key1 key2
3 -0.065461 -0.950786    a  two
b one
      data1     data2 key1 key2
2  0.692115  0.218547    b  one
b two
      data1     data2 key1 key2
1 -0.569596  0.066319    b  two
c three
      data1     data2 key1   key2
4 -0.094006  1.379208    c  three

In [25]:
pieces=dict(list(df.groupby('key1')))

In [27]:
type(pieces)

dict

In [35]:
pieces['a']

      data1     data2 key1 key2
0  1.086939 -1.319361    a  one
3 -0.065461 -0.950786    a  two

In [ ]:
# Import numpy package
import numpy as np
# Create np_baseball (3 cols)
np_baseball = np.array(baseball)
# Print out addition of np_baseball and update
print(np_baseball+update)
# Create Numpy array: conversion
conversion=np.array([0.0254,0.453592,1])#don't forget []
# Print out product of np_baseball and conversion
print(np_baseball*conversion)
# Print mean height (first column)
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

# Print median height. Replace 'None'
med = np.median(np_baseball[:,0])
print("Median: " + str(med))

# Print out the standard deviation on height. Replace 'None'
stddev = np.std(np_baseball[:,0])
print("Standard Deviation: " + str(stddev))

# Print out correlation between first and second column. Replace 'None'
corr = np.corrcoef(np_baseball[:,0], np_baseball[:,1]
print("Correlation: " + str(corr))

In [1]:
np.random.seed(0)
X = np.random.random(size=(20, 1))
y = 3 * X.squeeze() + 2 + np.random.randn(20)

NameError: name 'np' is not defined

In [ ]:
#check missings in each variable
df.isnull().sum()

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])

In [ ]:

#CREATE A NEW VARIABLE BASED ON OTHER VAIRABLES
df.loc[df['ImageName'] <= 70, 'Test'] = 1
df.loc[(df['ImageName'] > 70) & (df['ImageName'] <= 90), 'Test'] = 2

In [ ]:
df.head()
df.tail(3)
df.index
df2.index
df2.columns #get variable name
df2.values #get values for each row
df2.describe()
df.T #transpose the data
df2.sort_index(axis=0, ascending=False) #sort by columns or rows
df2.sort_values(by='E')#sort by values of a column

In [ ]:
df.iloc[3]#select by position
df.iloc[3:5,0:2]
df.iloc[[1,2,4],[0,2]]